/* Layout
 * ------
*/
#page {
  border: 6px solid #e5e5e5;
  margin: 0 auto;
  padding: 0 5px;
  width: 1002px;
}

#content {

}

.sidebar {
}

#sidebar-second {
}

#footer {
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
}

/* Sidebars width
 * --------------
 * Changing the width of the sidebars is dead easy, just change the
 * values below corresponding to the sidebar you want to modify.
 */
.two-sidebars .center,
.sidebar-left .center {
}

#sidebar-first {
}

.two-sidebars .center,
.sidebar-right .center {
}

#sidebar-second {
}

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
.inner {
}

#navigation {

}

.with-navigation #content,
.with-navigation .sidebar {
}
